html {
  scroll-behavior: smooth;
}

body {
  background: url(../assets/bg-news.jpg) no-repeat center center fixed !important;
  background-size: cover !important;
}

.overlay-element {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}